

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head'); -%>
</head>
<style>
  html {
  box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
-webkit-font-smoothing: antialiased;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
  input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}
</style>
<body>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
        <!--header start-->
        <%- include('../header'); -%>


        <!--sidebar end-->
        <!-- main content -->
    </section>
    <section id="main-content" class="">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Thêm mới căn hộ </h3>
            <div class="row mt">
               
                <!-- page start-->
                <div class="content-panel col-lg-12">
              
                  <form method="POST" action="/admin/apartment_service/save" enctype="multipart/form-data">
                    
                    <div class="form-group hidden" style="width: 15%!important;">
                      <label>ID:</label>
                    <input class="hidden" value="<%= _id %>" name="id">
                  </div>
                  
                    <div class="form-group">
                      <label>Tên căn hộ:</label>
                      <input type="text" name="apt_name" class="form-control" placeholder="Tên căn hộ......">
                    </div>
                    <div class="form-group" >
                      <label>Địa chỉ:</label>
                      <input type="text" class="form-control" name="address" placeholder="Địa chỉ......">
                    </div>
                    
                    <div class="form-inline">
                      <div class="form-group" style="width: 25%!important;">
                        <input type="checkbox"  name="stype" value="0">
                        <label>Nhà Bán</label><br>
                        <input type="checkbox"  name="stype" value="1">
                        <label>Nhà cho thuê</label><br>
                      </div>
                    <div class="form-group" style="width: 25%!important;">
                      <label >Loại hình:</label>
                      <select id="status" name="stype_code" class="form-control">
                        <option value="" selected disabled hidden>Lựa chọn</option>
                        <option value="0">Shop-house</option>
                        <option value="1">Nhà đất</option>
                        <option value="2">Chung cư</option>
                      
                      </select>
                    </div>
            
                    <div class="form-group" style="width: 25%!important;">
                      <label>Hướng:</label>
                      <select id="status" name="direction" class="form-control">
                        <option value="" selected disabled hidden>Lựa chọn</option>
                        <option value="Đông">Đông</option>
                        <option value="Tây">Tây</option>
                        <option value="Nam">Nam</option>
                        <option value="Bắc">Bắc</option>
                        <option value="Tây-Bắc">Tây-Bắc</option>
                        <option value="Đông-Bắc">Đông-Bắc</option>
                        <option value="Đông-Nam">Đông-Nam</option>
                        <option value="Tây-Nam">Tây-Nam</option>
                      </select>
                    </div>
                  </div>
                    <div class="form-inline" style="margin-top: 20px;">
                      <div class="form-group" style="width: 15%!important;">
                        <!-- <label>Phòng khách:</label> -->
                        <input type="number" class="form-control" name="rooms_count" placeholder="Số phòng khách......">
                      </div>
                      <div class="form-group" style="width: 15%!important;">
                        <!-- <label>Số phòng ngủ:</label> -->
                        <input type="number" class="form-control" name="bedrooms_count" placeholder="Số phòng ngủ......">
                      </div>
                      <div class="form-group" style="width: 15%!important;">
                        <!-- <label>Số nhà vệ sinh:</label> -->
                        <input type="number" class="form-control" name="bathrooms_count" placeholder="Số nhà vệ sinh......">
                      </div>
                      <div class="form-group" style="width: 15%!important;">
                        <!-- <label>Diện tích:</label> -->
                        <input type="number" class="form-control" name="area" placeholder="Diện tích......">
                      </div>
                     
                    </div>
                    <div class="form-group" style="margin-top: 20px;">
                      <!-- <label>Diện tích:</label> -->
                      <input type="text" class="form-control" name="furniture" placeholder="Tình hình nội thất......">
                    </div>
                    <div class="form-inline">
                     
                      <!-- <div class="form-group" style="width: 15%!important;"> -->
                        <!-- <label>Diện tích sử dụng:</label> -->
                        <!-- <input type="text" class="form-control" name="area_builtin" placeholder="Diện tích sử dụng......">
                      </div> -->
                      <!-- <div class="form-group" style="width: 15%!important;">
                        <label>Thang máy:</label>
                        <select id="status" name="elavator" class="form-control" >
                          <option value="" selected disabled hidden>Lựa chọn</option>
                          <option value="0">Không có</option>
                          <option value="1">Có</option>
                        </select>
                      </div> -->

                      <div class="form-inline" id="form" style="margin-top: 20px;">
                        <div class="form-group"  style="width: 15%!important;">
                          <label>Giá tiền(VNĐ):</label>
                          <input id="amount"  type="text" class="form-control" name="price">
                        </div>
                       
                        <div class="form-group" style="width: 15%!important;">
                          <label>Giá thuê(VNĐ):</label>
                          <input type="text"  id="amount" class="form-control" name="price_rent">
                        </div>
                      </div>
                    </div>
                    <div class="form-inline" style="margin-top: 20px;">
                      <div class="form-group" style="width: 15%!important;" >
                        <label>Trạng Thái:</label>
                        <select id="status" name="apt_status" class="form-control">
                          <option value="" selected disabled hidden>Lựa chọn</option>
                          <option value="0">Đóng</option>
                          <option value="1">Đang giao bán</option>
                          <option value="2">Đã bán</option>
                          <option value="3">Đã đặt cọc</option>
                          <option value="99">Thiếu giấy tờ</option> 
                        </select>
                      </div>
                         <div class="form-group" style="width: 50%!important;">
                        <label>Loại chủ quyền:</label>
                        <select id="status" name="area_builtin" class="form-control">
                          <option value="" selected disabled hidden>Lựa chọn</option>
                          <option value="Sổ hồng">Sổ hồng</option>
                          <option value="Giấy chứng nhận quyền sử dụng đất">Giấy chứng nhận quyền sử dụng đất</option>
                          <option value="Giấy chứng nhận quyền sở hữu nhà ở và quyền sử dụng đất ở">Giấy chứng nhận quyền sở hữu nhà ở và quyền sử dụng đất ở</option>
                          <option value="Giấy chứng nhận quyền sử dụng đất quyền sở hữu nhà ở và tài sản khác gắn liền với đất">Giấy chứng nhận quyền sử dụng đất quyền sở hữu nhà ở và tài sản khác gắn liền với đất</option>
                          <option value="Sổ đỏ chính chủ">Sổ đỏ chính chủ</option> 
                        </select>
                      </div>
                    </div>
                    <div class="form-group"  style="margin-top: 20px;">
                      <label>Hình ảnh:</label>
                      <input  type="file" name="multi-files" multiple id="files" class="form-control-file border"/>
                        <hr />
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="preview-images"></div>
                          </div>
                        </div>
                    </div>
                    <div class=" form-group">
                      <label for="Content">Mô tả căn hộ:</label>
                      <textarea name="apt_desc" id="editor1">This is some sample content.</textarea>
                      <script>
                        CKEDITOR.replace('editor1');
                      </script>
                    </div>
        
        
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                  </form>
                  
                </div>

                <!-- page end-->
            </div>
            <!-- /row -->
        </section>
        <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->

    <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!--script for this page-->
    <script>
        $(document).ready(function() {
  if (window.File && window.FileList && window.FileReader) {
    $("#files").on("change", function(e) {
      var files = e.target.files,
        filesLength = files.length;
      for (var i = 0; i < filesLength; i++) {
        var f = files[i]
        var fileReader = new FileReader();
        fileReader.onload = (function(e) {
          var file = e.target;
          $("<span class=\"pip\">" +
            "<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
            "<br/><span class=\"remove\">Remove image</span>" +
            "</span>").insertAfter("#files");
          $(".remove").click(function(){
            $(this).parent(".pip").remove();
            $('#files').val("");
          });
          
       
          
        });
        fileReader.readAsDataURL(f);
      }
    });
  } else {
    alert("Your browser doesn't support to File API")
  }
});
(function($, undefined) {

"use strict";

// When ready.
$(function() {
  
  var $form = $( "#form" );
  var $input = $form.find( "input" );

  $input.on( "keyup", function( event ) {
    
    
    // When user select text in the document, also abort.
    var selection = window.getSelection().toString();
    if ( selection !== '' ) {
      return;
    }
    
    // When the arrow keys are pressed, abort.
    if ( $.inArray( event.keyCode, [38,40,37,39] ) !== -1 ) {
      return;
    }
    
    
    var $this = $( this );
    
    // Get the value.
    var input = $this.val();
    
    var input = input.replace(/[\D\s\._\-]+/g, "");
        input = input ? parseInt( input, 10 ) : 0;

        $this.val( function() {
          return ( input === 0 ) ? "" : input.toLocaleString( "en-US" );
        } );
  } );
  
  /**
   * ==================================
   * When Form Submitted
   * ==================================
   */
  $form.on( "submit", function( event ) {
    
    var $this = $( this );
    var arr = $this.serializeArray();
  
    for (var i = 0; i < arr.length; i++) {
        arr[i].value = arr[i].value.replace(/[($)\s\._\-]+/g, ''); // Sanitize the values.
    };
    
    console.log( arr );
    
    event.preventDefault();
  });
  
});
})(jQuery);
      </script>
      
  
    

</body>

</html> 